html {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
}

h1 {
    text-align: center;
    color: slategrey;
}

h3 {
    /*color: grey;*/
}

p {
    /*color: grey;*/
}